
#block{
    font-family: Arial;
    padding-bottom: 30px;
    margin: 10px 240px 30px 240px;
    box-shadow: 20px 20px 40px black;
    border-top: 50px solid black;
    border-right: 50px solid grey;
    border-bottom: 50px solid black;
    border-left: 50px solid grey;
    background-color: orange;
}
h1{
    font: 40px bold ;
    text-align: center;
    color: blue;
}

#volt{

    padding: 30px;
    color: darkred;
    text-align: center;
    background-color: whitesmoke;
    font-size: 30px;
    font-weight: bold;
    height: 1px;
    width: 100px;
    border-top: 10px solid black;
    border-right: 10px solid grey;
    border-bottom: 10px solid black;
    border-left: 10px solid grey;



}
#ammeter{

    padding: 30px;
    background-color: whitesmoke;
    color: darkred;
    font-size: 30px;
    font-weight: bold;
    height: 1px;
    width: 100px;
    text-align: center;
    border-top: 10px solid black;
    border-right: 10px solid grey;
    border-bottom: 10px solid black;
    border-left: 10px solid grey;


}
#potentiometer{

    padding: 30px;
    background-color: whitesmoke;
    color: darkred;
    font-size: 30px;
    font-weight: bold;
    height: 1px;
    width: 100px;
    text-align: center;
    border-top: 10px solid black;
    border-right: 10px solid grey;
    border-bottom: 10px solid black;
    border-left: 10px solid grey;


}
table tr td #volt{
    margin-left: 100px;
}
table tr td #ammeter{
    margin-left:80px;
}
table tr td #potentiometer{
    margin-left:80px;
}
table tr td h2{
    margin-left: 90px;
}


.slidecontainer {
    width: 100%;
    margin: 60px 0 0 110px;
}

.slider1 {
    -webkit-appearance: none;
    width: 170px;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider1:hover {
    opacity: 1;
}

.slider1::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}

.slider1::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}



.switch {
    position: relative;
    display: inline-block;
    width: 90px;
    height: 34px;

}

.switch input {display:none;}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ca2222;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2ab934;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(55px);
    -ms-transform: translateX(55px);
    transform: translateX(55px);
}

/*------ ADDED CSS ---------*/
.on
{
    display: none;
}

.on, .off
{
    color: white;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    font-size: 10px;
    font-family: Verdana, sans-serif;
}

input:checked+ .slider .on
{display: block;}

input:checked + .slider .off
{display: none;}

/*--------- END --------*/

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;}